<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="public/assets/css/burger_style.css" type="text/css" />
		<title>Burgers APP!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- <script src="/assets/js/burgers.js"></script> -->
	</head>
	<img src = "public/assets/img/burger.jpg" style="width: 240px">

	<body>
		{{{ body }}}
	</body>
</html>
