<div class="container">
  <h1>Arizona's Best Burgers</h1>

<div class="row">
  <div class="col-md-6">
    <h3>Burgers Available: </h3>
    <ul>
      {{#each burgers}}
      {{#unless devoured}}

      <li class="burgList">
        {{burger_name}}
        <button class="devourIt btn btn-warning" data-id="{{id}}">DEVOUR IT!</button>
      </li>

      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Burgers Devoured: </h3>
    <ul>
      {{#each burgers}}
      {{#if devoured}}

      <li class="burgListDevo">{{burger_name}}</li>

      {{/if}}
      {{/each}}
    </ul>
  </div>
  </div>

<div class="row">
    <h4>Add a new burger</h4>
    <form class="create-form">
      <p>Write the burger you'd like to add, and then click the "Submit" button.</p>
      <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg">
      </div>
      <button type="submit" id="addBurger" class="btn btn-warning">Add Burger</button>
    </form>

  </div>

</div>

<script type="text/javascript">

  // When ADD BURGER is clicked,
  $(".create-form").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    //create a new burger variable
    const newBurger = {
      burger_name: $("#burg").val().trim(),
      devoured: 0
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        console.log("added new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".devourIt").on("click", function (event) {
    let id = $(this).data("id");

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: true
    }).then(
      function () {
        console.log("changed devoured to true");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

</script>