li {
    padding: 5px;
    margin: 5px;
    list-style-type: none;
  }

  ul {
    display: inline-block;
    list-style-type: none;
  }
  
  h1, h3, h4 {
    font-family: 'Krona One', sans-serif;
  }
  .form-group {
    margin: 5px;
  }
  
  body {
    text-align: center;
    background-color: rgb(245, 245, 245);
    margin-top: 30px;
    color: #141414;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }

  .label {
    font-weight: bold;
  }

  .burgListDevo {
    background-color: rgb(243, 221, 180);
  }